#back {
	background-image: url(../images/background.jpg);
	background-size: 100% 100%;
	color: white;
}
#answer {
	font-weight: bold;
	font-size: 30px;
	text-align: center;
}

#logo {
	background-image: url(../images/logo.png);
	background-size: cover;
	height: 275px;
}

#guessesBox,
#answerBox,
#lettersBox,
#recordBox {
	background-color: white;
	color: black;
	border: 10px dotted black;
	margin: 10px 0 10px 0;
}