/*Hangman Game Homework #3
	Created 11/12/17
	Last updated 11/17/17
	Written by: Steve Harold*/

/* main container*/ 
#back {
	background-image: url(../images/background.jpg);
	background-size: 100% 100%;
	color: white;
	min-width: 770px;
}

/*logo images*/
#logo {
	margin-top: 20px;
	position: relative;
	background-image: url(../images/logo.png);
	background-size: contain;
	height: 250px;
}

#sports {
	height: 120px; 
	width: 210px; 
	position: absolute; 
	left: 180px;
	top: -20px;
}

/*canvas*/
#stickman {
	height: 100%; 
	width: 100%; 
	background-color: rgba(125, 125, 125, .8);
}

/*answer text*/
#answer {
	font-weight: bold;
	font-size: 50px;
	text-align: center;
}

/*game stat divs*/
#guessesBox,
#answerBox,
#lettersBox,
#recordBox,
#instructBox {
	text-align: center;
	background-color: rgba(0, 0, 0, .6);
	color: #ecee00;
	border: 5px solid #F3F3F3;
	margin: 10px 0 10px 0;
}

#instructBox {
	margin-top: 0;
}

/*instruction text*/
#instruct {
	font-size: 30px;
	margin-top: 10px;
	text-align: center;
}

/*guesses remaining text*/
#guesses {
	font-size: 30px;
}

/*guessed letters text*/
#guessedLetters {
	font-weight: bold; 
	font-size: 30px; 
	margin-left: 20px;
}


/*media queries for 1200-768px widths*/

/*1200+px*/
@media screen and (max-width: 1200px) {
	
	#logo {
		height: 210px;
	}

	#sports {
		height: 100px; 
		width: 160px; 
		left: 160px;
	}

	#instruct,
	#guesses,
	#guessedLetters,
	#guessesBox h2,
	#answerBox h2,
	#lettersBox h2,
	#recordBox h2 {
		font-size: 25px;	
	}

	#guessesBox,
	#answerBox,
	#lettersBox,
	#recordBox,
	#instructBox {		
		margin: 5px 0 5px 0;
	}

	#instructBox {
		margin-top: 0px;
	}
}

/*992-1200px*/
@media screen and (max-width: 992px) {
	#logo {
		height: 160px;
	}

	#sports {
		height: 80px; 
		width: 120px; 
		left: 130px;
	}

	#instruct,
	#guesses,
	#guessedLetters,
	#guessesBox h2,
	#answerBox h2,
	#lettersBox h2,
	#recordBox h2 {
		font-size: 18px;	
	}

	#guessesBox,
	#answerBox,
	#lettersBox,
	#recordBox,
	#instructBox {		
		margin: 2px 0 2px 0;
	}

	#instructBox {
		margin-top: 0px;
	}
}

/*768-992px*/
@media screen and (max-width: 767px) {
	#logo {
		height: 155px;
	}

	#sports {
		height: 80px; 
		width: 120px;  
		left: 120px;
	}
	
	#instruct,
	#guesses,
	#guessedLetters,
	#guessesBox h2,
	#answerBox h2,
	#lettersBox h2,
	#recordBox h2 {
		font-size: 14px;	
	}
	
	#answer {
		font-size: 40px;
	}
	

	#guessesBox,
	#answerBox,
	#lettersBox,
	#recordBox,
	#instructBox {
		
		margin: 4px 0 4px 0;
	}

	#instructBox {
		margin-top: 0px;
	}
}
